<button {{ $props.merge({ class: ['flex items-center'] }).except(['target']).toAttrs() }}>
  <div wire:loading.class="btn-spinner mr-2" {{ target ? `wire:target=${target}` : '' }}>
  </div>

  {{{ await $slots.main() }}}
</button>
