@let(id = Math.random().toString(36).substring(7))

<div {{ $props.only(['class']).toAttrs() }}>
  @if(label)
    <label class="form-label" for="{{ id }}">{{ label }}:</label>
  @end
  <select
    id="{{ id }}"
    class="form-input {{ error ? 'error' : '' }}"
    {{ $props.except(['class']).toAttrs() }}
  >
    {{{ await $slots.main() }}}
    </select>

  @if(name)
    @inputError(name)
      <div class="form-error">
        {{ $messages[0] }}
      </div>
    @end
  @end
</div>
