<x-card class="col-span-12 lg:col-span-4">
  <div class="space-y-4">
    <div class="flex items-center gap-x-2">
      <span class="text-sm font-medium text-gray-500">
        <div class="h-4 animate-pulse bg-gray-200 rounded-full w-48 mb-4">
        </div>
      </span>
    </div>

    <div class="text-3xl font-semibold tracking-tight text-gray-950">
      <div class="h-5 animate-pulse bg-gray-200 rounded-full max-w-[300px]">
      </div>
    </div>
  </div>
</x-card>
