<!DOCTYPE html>
<html lang="{{ lang ?? 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {{ title ? `${title} -` : '' }} Ping CRM</title>

    @livewireStyles
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body class="font-sans leading-none text-gray-700 antialiased">
    <main>
      {{{  await $slots.main()  }}}
    </main>

    @livewireScripts
  </body>
</html>
